.html-widget {
    margin: auto;
}

p {
	font-size: 20px;
}

ul.nav-pills {
  display: table;
  margin: 0 auto;
}

ul#conc>li {
	font-size: 20px;
}

caption {
	text-align: center;
	font-size: 15px;
	font-weight: bold;
	color: black;
}

h1 {
	text-align: center;
}

.toc-ignore {
	display: none;
}

.toc-ignore.title {
	display : block;
}

p.Kernel {
	font-size: 30;
	text-align: center;
	color: #444444;
	font-weight: 400;
}

.math {
	font-size: 0.9em;
}

